<form method="post" action="/admin/book">
  <input type="text" name="author" placeholder="Author" /> -
  <input type="text" name="title" placeholder="Title"/> (<input type="text" name="year" placeholder="Year"/>)
  owned by
  <select name="owner">
    <option value="" > -- Choose Owner -- </option>
    <% users.each do |user| %>
        <option value="<%= user._id %>"><%= user.name %> <%= user.last_name %></option>
    <% end %>
  </select>
  <input type="submit" />
</form>